<div class="container">
    <div class="row">
        <div class="col-5 mx-auto">
            <h3 class="bg-primary text-white p-3">
                {{getName()}}'in Listesi
            </h3>

            <div class="input-group mb-3">

                <input type="text" class="form-control"
                [(ngModel)]="aramaYeri" 
                (keyup.enter)="itemEkle();"
                >
                <button
                [class]="{
                    'disabled':aramaYeri.length==0,
                    'btn-secondary':aramaYeri.length==0,
                    'btn-primary':aramaYeri.length>0
                }"
                class="btn"
                (click)="itemEkle();">ekle</button>
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" [(ngModel)]="hepsiniGoster" class="form-check-input" name="" id="hepsinigoster">
                <label for="hepsinigoster" class="form-check-label">hepsini göster</label>
            </div>

            <div class="my-2">
                {{elemanSayisi()}} tane tamamdir
            </div>
            <div class="alert alert-warning" *ngIf="getItems().length == 0 else ilktemplate">
                boş lisete
            </div>

            <ng-template #ilktemplate>

                <table class="table table-bordered" *ngIf="getItems().length>0">
                <thead>
                    <tr>
                        <th></th>
                        <th>Acıklama</th>
                        <th>Durum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of getItems(); let i = index;" [class]="{ 'bg-primary':item.durum}" [class.bg-warning]="!item.durum">
                        <td>{{i+1}}</td>
                        <td>{{item.ders}}</td>
                        <td>
                            <!-- <div *ngIf="item.durum">Tamam</div>
                            <div *ngIf="!item.durum">Eksik</div> -->

                            <!-- <div *ngIf="item.durum; else bilmiomneola">
                                Yes
                            </div>

                            <ng-template #bilmiomneola>
                                No
                            </ng-template> -->



                            <div *ngIf="item.durum; then bilmiomneola else buola">
                                bu olmaz
                            </div>

                            <ng-template #bilmiomneola>
                                Tamamdır
                            </ng-template>

                            <ng-template #buola>
                                Olmadı
                            </ng-template>


                            
                            <!-- <div [ngSwitch]="item.durum">
                                <div *ngSwitchCase="true">Tamam</div>
                                <div *ngSwitchCase="false">Eksik</div>
                            </div> -->
                        </td>
                        <td>
                            <input type="checkbox" [(ngModel)]="item.durum" name="" id="">
                        </td>
                    </tr>
                </tbody>
                </table>

            </ng-template>


            
        </div>
    </div>
</div>